@font-face {
    font-family: amatic-bold;
    src: url("../../public/fonts/AmaticSC-Bold.ttf");
}
@font-face {
    font-family: amatic-regular;
    src: url("../../public/fonts/AmaticSC-Regular.ttf");
}