@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$spacer : 1rem ;

$custom-spacers : (
    0 : 0 ,
    9 : $spacer*0.1 ,
    1 : $spacer*1 ,
    2 : $spacer*2 ,
    3 : $spacer*3 ,
    4 : $spacer*4 , 
    5 : $spacer*5 ,
    6 : $spacer*6 ,
    7 : $spacer*7 ,
    8 : $spacer*10 ,
);

//& Fusionner et écrire nos valeurs d'espacement :
$spacers : map-merge($spacers , $custom-spacers );


//* Mes variables couleurs :
$bage : rgb(238, 238, 238);
$gray : rgb(163, 155, 154);
$red : rgb(207, 18, 18);
$pink : rgb(233, 89, 90);
$darckBlue : rgb(32, 31, 36);

//* Notre customisations des couleurs :
$custom-colors : (
    "bage" : $bage ,
    "tcolor" : $gray ,
    "red" : $red ,
    "pink" : $pink ,
    "darkblue":$darckBlue,
);

//* Fusionner les informations avec celles de bootstrap :
$theme-colors : map-merge($theme-colors , $custom-colors);