/* Error: Expected digit.
 *     ,
 * 384 |     font-size: 1.rem;
 *     |                  ^
 *     '
 *   src\sass\modules\_main.scss 384:18     @import
 *   src\sass\modules\_allmodules.scss 2:9  @import
 *   src\sass\app.scss 5:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected digit.\a     \2577 \a 384 \2502      font-size: 1.rem;\d\a     \2502                   ^\a     \2575 \a   src\\sass\\modules\\_main.scss 384:18     @import\a   src\\sass\\modules\\_allmodules.scss 2:9  @import\a   src\\sass\\app.scss 5:9                  root stylesheet";
}
