.said {
    position: absolute;
    right: 100px;
    top: 27px;
}

.said-darck {
    position: absolute;
    right: 250px;
    top : 27px;
}

.logo {
    margin-top: 5px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.sombre {
    background-color: rgb(41, 41, 42) !important;
}

.lighttextt {
    color: #fff !important;
}

.light {
    background-color: #fff;
}

.bage {
    background-color: rgb(238, 238, 238);
}

.textblack{
    color: rgb(0, 0, 0) !important;
}
// !!---------------------------------
.modal-no-show {
    display: none;
}

.modal-show {
    display: block;
}

.div-modal {
    z-index: 1;
    overflow: hidden;
    pointer-events: visible;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $red;
    border-radius: 20px;
    width: 400px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
}

.x-close-modal {
    float: right;
}

.body-modal-open {
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 1111;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100vw;
    height: 100vh;
}

.div-image {
    background-image: url(../images/about-2.jpg);

}

@media (min-width:375px) and (max-width:428px) {
    .said-darck {
        position: absolute;
        right: 200px;
        top: 27px;
    }

    .said {
        position: absolute;
        right: 90px;
        top: 27px;
    }

    .logo {
        margin-top: 10px;
        padding-right: 100px;
        padding-bottom: 20px;
    }
}

.cc {
    border-bottom: 2px solid red !important;
    padding-bottom: -5px !important;
    animation: border !important;
}