.section1-title{
    font-family: amatic-bold;
    width: 350px;
    font-size: 50px;
}
.section1-para{
    width: 80%;
}
.section1-div{
    width:45rem;
}
.section1-image{
    width: 450px;
}
.btn-size{
    width: 200px;
}

@media (min-width:375px) and (max-width:426px){

    .section1-div{
        width: 15rem;
        margin-left: 45px;
        margin-top: -20px;
    }
    .section1-image{
        width: 400px;
        margin-top: 50px;
        margin-left: 10px;
    }
    .section1-title{
        font-family: amatic-bold;
        width: 280px;
        font-size: 40px;
        text-align: center;
    }
    .section1-para{
        margin-left: -42px;
        width: 380px;
        text-align: center;
    }
    .divsection1-button{
        width: 340px;
        margin-bottom: 50px;
        .btn-size{
            width: 150px;
        }
    }
}
@media (min-width:768px) and (max-width:980px){

    .section1-div{
        width: 15rem;
        margin-left: 45px;
        margin-top: -20px;
    }
    .section1-image{
        width: 650px;
        margin-top: 50px;
        margin-left: 60px;
    }
    .section1-title{
        font-family: amatic-bold;
        width: 280px;
        font-size: 50px;
        text-align: center;
        margin-left:180px;
    }
    .section1-para{
        margin-left: -42px;
        width: 700px;
        text-align: center;
    }
    .divsection1-button{
        width: 450px;
        margin-bottom: 50px;
        .btn-size{
            width: 200px;
        }
        margin-left: 150px;
    }
}
// section2

.section2-title{
    font-family: "amatic-regular";
    font-size: 50px;
    span{
        color: rgb(193, 55, 80);
    }
}
.telephone{
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: -150px;
    width: 580px;
    margin-left: 50px;
    p{
        font-weight: bold;
    }
}
.section2-div{
    width: 500px;
}
.image1-section2{
    width: 700px;
    height : 710px;
}
.image2-section2{
    width: 500px;
}
.play-button{
    margin-top: -350px;
    margin-left: 220px;
    background-color: rgb(255, 255, 255);
    animation: play-button 3s infinite;
    border-radius:50%;
    width: 59px;
    height: 53px;
}
.fa-circle-play{
    color: #c81211; 
    font-size:60px ; 
    margin-left: -13px;
     margin-top: -10px;
}
@keyframes play-button{
    0%{
        box-shadow: 0 0 0 0 rgba(200, 18, 17,0.7);
    }
    40%{
        box-shadow: 0 0 0 40px rgba(200, 18, 17,0.7);
    }
    80%{
        box-shadow: 0 0 0 40px rgba(200, 18, 17,0.7);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(200, 18, 17,0.7);
    }
}
@media (min-width:768px) and (max-width:980px){
    .telephone{
        position: absolute;
        background-color: rgb(255, 255, 255);
        margin-top: -150px;
        width: 580px;
        margin-left: 50px;
        p{
            font-weight: bold;
        }
    }
    .section2-div{
        width: 500px;
    }
    .image1-section2{
        height : 490px;

    }
    .image2-section2{
        width: 700px;
        height: 490px;
    }
    .section2-div{
        width: 700px;
    }
    .play-button{
        margin-top: -440px;
        margin-left: 320px;
        background-color: rgb(255, 255, 255);
        animation: play-button 3s infinite;
        border-radius:50%;
        width: 59px;
        height: 53px;
    }
}
@media (min-width:375px) and (max-width:426px){
    .telephone{
        background-color: rgb(255, 255, 255);
        margin-top: -150px;
        width: 280px;
        margin-left: 50px;
        p{
            font-weight: bold;
        }
    }
    .image1-section2{
        width: 427px;
        height: 490px;
        margin-left: -15px;
    }
    .image2-section2{
        width: 400px;
        height: 300px;
    }
    .section2-div{
        width: 400px;
    }
    .play-button{
        margin-top: -320px;
        margin-left: 190px;
        background-color: rgb(255, 255, 255);
        animation: play-button 3s infinite;
        border-radius:50%;
        width: 39px;
        height: 33px;
        i{
            font-size: 40px;
        }
    }
    @keyframes play-button{
        0%{
            box-shadow: 0 0 0 0 rgba(200, 18, 17,0.7);
        }
        40%{
            box-shadow: 0 0 0 30px rgba(200, 18, 17,0.7);
        }
        80%{
            box-shadow: 0 0 0 30px rgba(200, 18, 17,0.7);
        }
        100%{
            box-shadow: 0 0 0 0 rgba(200, 18, 17,0.7);
        }
    }
}
// SECTION 3
.clipboard{
    background-color: rgba(255, 231, 231);
    width: 50px;
    height: 50px;
    color: #c81211;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
}
.card-big{
    width: 40rem;
    height: 28rem;
    margin-top: 70px;
    margin-left: 60px;
}
.card-small{
    width: 27rem;
    height: 22rem;
    margin-top: 100px;
    margin-left: 60px;
    transition: 0.6s;
}
.card-small:hover{
    scale: (1.15);
}
.button-card{
    width: 150px;
    margin-left: 50%;
    transform: translate(17%);
}
@media (min-width:768px) and (max-width:980px){
    .fa-clipboard-list{
    background-color: rgba(255, 231, 231);
    width: 50px;
    height: 50px;
    color: #c81211;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
}
.card-big{
    width: 40rem;
    height: 18rem;
    margin-top: 0px;
    margin-left: 60px;
}
.card-small{
    width: 40rem;
    height: 15rem;
    margin-top: 30px;
    margin-left: 60px;
    transition: 0.6s;
}
.card-small:hover{
    scale: (1);
}
.button-card{
    width: 150px;
    margin-left: 50%;
    transform: translate(-50%);
}
}
@media (min-width:375px) and (max-width:426px){
    .clipboard{
    background-color: rgba(255, 231, 231);
    width: 50px;
    height: 50px;
    color: #c81211;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
}
.card-big{
    width: 24rem;
    height: 21rem;
    padding-top: 70px;
    margin-left: 20px;
}
.card-small{
    width: 24rem;
    height: 15rem;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 20px;
    transition: 0.6s;
}
.card-small:hover{
    scale: (1);
}
.button-card{
    width: 150px;
    margin-left: 50%;
    transform: translate(-50%);
}
}
// section4
.image-section4{
    background-image: url(../images/stats-bg.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.34);
}
.para-section4{
    font-size: 60px;
    margin-bottom: -10px;
}
@media (min-width:768px) and (max-width:980px) {
    .image-section4{
        background-image: url(../images/stats-bg.jpg);
        height: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.34);
    }
    .para-section4{
        font-size: 60px;
        margin-bottom: -10px;
    }
}
@media (min-width:375px) and (max-width:426px) {
    .image-section4{
        background-image: url(../images/stats-bg.jpg);
        height: 700px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.34);
    }
    .para-section4{
        font-size: 60px;
        margin-bottom: -10px;
    }
}